<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hospital.Properties.Settings.BDHospitalConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BDHospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="hospital.Properties.Settings.bdclinicConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=bdclinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>